{% include "base/header.html" %}

{% block content %}

<br> <br>

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
       
        <th scope="col">Pet Name</th>
        <th scope="col">Pet Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>

  

  <tbody>
    {% for i in objects %}
    
   
    <tr>
        <th>{{i.pet.name}}</th>
        <th><img src="{{ i.pet.image.url }}" alt="" width="90" height="90"></th>
        <th><input type="number" name="qty" min="0" value="{{i.quantity}}"></th>
        <th>{{i.totalPrice}}</th>
    </tr>

    {% endfor %}

  </tbody>
</table>

{% endblock  %}


{% include "base/footer.html" %}